body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background: linear-gradient(to bottom, #094368, #7b94ac);
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    padding: 20px;
    border-radius: 25px;
    margin: 20px;
    width: 200px;
    height: 200px;
    text-align: center;
    border: 2px solid white;
}

.arrow {
    background: none;
    border: none;
    font-size: 36px;
    cursor: pointer;
    color: white;
    margin: 0 10px;
}

#fortune {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

p:hover {
    text-decoration: underline;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    body {
        margin: 10px;
    }
    select, button {
        font-size: 14px;
        padding: 8px;
    }
}
